.footer {
    background-image: url('/images/banner/bg-footer.png');
    background-repeat: no-repeat;

    ul {
        li {
            .active {
                color: #b57310;
            }
        }
    }
}